{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 80
      }
    }
  ],
  "tailwindFunctions": ["cn", "cva", "tv"],
  "tailwindConfig": "./tailwind.config.js"
}
